In [1]:
import yfinance as yf

## Data Loading

In [32]:
t = yf.Ticker("AAPL")
t

yfinance.Ticker object <AAPL>

In [34]:
df = t.history(period='1mo')
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-28 00:00:00-05:00,193.193528,193.710998,192.228256,192.636261,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,192.954701,193.452263,190.795282,191.591385,42628800,0.0,0.0
2024-01-02 00:00:00-05:00,186.237618,187.521338,182.993517,184.734985,82488700,0.0,0.0
2024-01-03 00:00:00-05:00,183.321924,184.973835,182.535766,183.351776,58414500,0.0,0.0
2024-01-04 00:00:00-05:00,181.261983,182.197403,179.998185,181.023163,71983600,0.0,0.0

In [35]:
df["Goal1"] = (df["Open"] <= df["Open"].shift(1)).astype(int)
df["Goal2"] = (df["Close"] <= df["Open"].shift(1)).astype(int)

In [36]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Goal1,Goal2
Date,,,,,,,,,
2023-12-28 00:00:00-05:00,193.193528,193.710998,192.228256,192.636261,34049900,0.0,0.0,0,0
2023-12-29 00:00:00-05:00,192.954701,193.452263,190.795282,191.591385,42628800,0.0,0.0,1,1
2024-01-02 00:00:00-05:00,186.237618,187.521338,182.993517,184.734985,82488700,0.0,0.0,1,1
2024-01-03 00:00:00-05:00,183.321924,184.973835,182.535766,183.351776,58414500,0.0,0.0,1,1
2024-01-04 00:00:00-05:00,181.261983,182.197403,179.998185,181.023163,71983600,0.0,0.0,1,1

## Download All Dataset

In [37]:
tickers = ['MSFT', 'AAPL', 'NVDA', 'META']
for ticker in tickers:
    t = yf.Ticker(ticker)
    df_history = t.history(period='2y')
    df_history["Goal1"] = (df_history["Open"] <= df_history["Open"].shift(1)).astype(int)
    df_history["Goal2"] = (df_history["Close"] <= df_history["Open"].shift(1)).astype(int)
    df_history.to_csv(f"../data/stock/{ticker}.csv")